<!DOCTYPE html>
<html class="x-admin-sm" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>活动表详情</title>
    <meta content="webkit" name="renderer">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8" name="viewport"/>
    <link rel="stylesheet" th:href="@{/css/xadmin.css}">
    <link rel="stylesheet" th:href="@{/css/font.css}">
    <script charset="utf-8" th:src="@{/js/jquery.min.js}" type="text/javascript"></script>
    <script charset="utf-8" th:src="@{/layui/layui.js}" type="text/javascript"></script>
    <script charset="utf-8" th:src="@{/js/xadmin.js}" type="text/javascript"></script>
    <script charset="utf-8" th:src="@{/js/vue.js}" type="text/javascript"></script>
</head>
<body>
<div class="layui-fluid" id="vmViewActivity">
    <div class="layui-row">
        <form class="layui-form">
                                                                            <div class="layui-form-item">
                        <label class="layui-form-label" for="teamId">
                            团队id
                        </label>
                        <div class="layui-input-block">
                            <div class="layui-input-inline layui-show-xs-block">
                                <div style="line-height: 36px" id="teamId" v-text="activity.teamId"></div>
                            </div>
                        </div>
                    </div>
                                                                <div class="layui-form-item">
                        <label class="layui-form-label" for="name">
                            活动名称
                        </label>
                        <div class="layui-input-block">
                            <div class="layui-input-inline layui-show-xs-block">
                                <div style="line-height: 36px" id="name" v-text="activity.name"></div>
                            </div>
                        </div>
                    </div>
                                                                <div class="layui-form-item">
                        <label class="layui-form-label" for="content">
                            活动内容
                        </label>
                        <div class="layui-input-block">
                            <div class="layui-input-inline layui-show-xs-block">
                                <div style="line-height: 36px" id="content" v-text="activity.content"></div>
                            </div>
                        </div>
                    </div>
                                                                <div class="layui-form-item">
                        <label class="layui-form-label" for="startTime">
                            活动开始时间
                        </label>
                        <div class="layui-input-block">
                            <div class="layui-input-inline layui-show-xs-block">
                                <div style="line-height: 36px" id="startTime" v-text="activity.startTime"></div>
                            </div>
                        </div>
                    </div>
                                                                <div class="layui-form-item">
                        <label class="layui-form-label" for="budget">
                            总预算
                        </label>
                        <div class="layui-input-block">
                            <div class="layui-input-inline layui-show-xs-block">
                                <div style="line-height: 36px" id="budget" v-text="activity.budget"></div>
                            </div>
                        </div>
                    </div>
                                                                <div class="layui-form-item">
                        <label class="layui-form-label" for="avgBudget">
                            个人预算
                        </label>
                        <div class="layui-input-block">
                            <div class="layui-input-inline layui-show-xs-block">
                                <div style="line-height: 36px" id="avgBudget" v-text="activity.avgBudget"></div>
                            </div>
                        </div>
                    </div>
                                                                <div class="layui-form-item">
                        <label class="layui-form-label" for="amount">
                            总费用
                        </label>
                        <div class="layui-input-block">
                            <div class="layui-input-inline layui-show-xs-block">
                                <div style="line-height: 36px" id="amount" v-text="activity.amount"></div>
                            </div>
                        </div>
                    </div>
                                                                <div class="layui-form-item">
                        <label class="layui-form-label" for="avgFee">
                            分摊费用
                        </label>
                        <div class="layui-input-block">
                            <div class="layui-input-inline layui-show-xs-block">
                                <div style="line-height: 36px" id="avgFee" v-text="activity.avgFee"></div>
                            </div>
                        </div>
                    </div>
                                                                <div class="layui-form-item">
                        <label class="layui-form-label" for="endTime">
                            活动结束时间
                        </label>
                        <div class="layui-input-block">
                            <div class="layui-input-inline layui-show-xs-block">
                                <div style="line-height: 36px" id="endTime" v-text="activity.endTime"></div>
                            </div>
                        </div>
                    </div>
                                        <div class="layui-form-item">
                <label class="layui-form-label"></label>
                <button class="layui-btn" onclick="xadmin.close();" style="width: 100px;">
                    返回
                </button>
            </div>
        </form>
    </div>
</div>
<script charset="UTF-8" type="text/javascript">

    var viewActivityId = sessionStorage.getItem("viewActivityId");

    vm = new Vue({
    el: "#vmViewActivity",
    data: {
    activity: {}
    },
    methods: {},
    created: function () {
        var _this = this;
        $.ajax({
            url: "/activity/findById",
            data: {
                "id": viewActivityId
            },
            dataType: "json",
            type: "get",
            success: function (result) {
                if (result.code === 200) {
                    _this.activity = result.data;
                } else {
                    layer.alert("获取修改活动表信息失败！");
                }
            }
        });

    }
    });

    layui.use(['form', 'layer', 'laydate'], function () {});
</script>
</body>
</html>
