<!DOCTYPE html>
<html class="x-admin-sm" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>添加订单</title>
    <meta content="webkit" name="renderer">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8" name="viewport"/>
    <link rel="stylesheet" th:href="@{/css/xadmin.css}">
    <link rel="stylesheet" th:href="@{/css/font.css}">
    <script charset="utf-8" th:src="@{/js/jquery.min.js}" type="text/javascript"></script>
    <script charset="utf-8" th:src="@{/layui/layui.js}" type="text/javascript"></script>
    <script charset="utf-8" th:src="@{/js/xadmin.js}" type="text/javascript"></script>
    <script charset="utf-8" th:src="@{/js/vue.js}" type="text/javascript"></script>
    <style>
        .in {
            display: inline-block;
        }

        .out {
            display: none;
        }
    </style>
</head>
<body>
<div class="layui-fluid" id="vmAddOrder">
    <div class="layui-row">
        <form class="layui-form">

            <div class="layui-form-item">
                <label class="layui-form-label" for="deskId">
                    <span class="x-red">*</span>下单方式
                </label>
                <div class="layui-input-block">
                    <div class="layui-input-inline layui-show-xs-block">
                        <select id="type" lay-filter="selectType" lay-verify="required" name="deskId">
                            <option value="1">堂食</option>
                            <option value="2">外卖</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="layui-form-item in">
                <label class="layui-form-label" for="deskId">
                    <span class="x-red">*</span>餐桌
                </label>
                <div class="layui-input-block">
                    <div class="layui-input-inline layui-show-xs-block">
                        <select id="deskId" lay-verify="required" name="deskId">
                            <option :value="desk.id" v-for="desk,index in deskList">{{desk.deskNo}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="layui-form-item out">
                <label class="layui-form-label" for="deskId">
                    <span class="x-red">*</span>外送地点
                </label>
                <div class="layui-input-block">
                    <div class="layui-input-inline layui-show-xs-block">
                        <input class="layui-input" id="address" name="address"
                               type="text">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"></label>
                <button class="layui-btn" lay-filter="add" lay-submit="">
                    确认添加
                </button>
            </div>
        </form>
    </div>
</div>
<script charset="UTF-8" th:inline="javascript" type="text/javascript">

    var sessionUser = [[${session.USER}]];

    vm = new Vue({
        el: "#vmAddOrder",
        data: {
            deskList: [],
            categoryList: []

        },
        created: function () {
            var _this = this;
            $.ajax({
                url: "/desk/list",
                dataType: "json",
                data: {
                    status: 0
                },
                type: "get",
                success: function (result) {
                    if (result.code === 200) {
                        _this.deskList = result.data;
                    } else {
                        layer.alert("获取失败！");
                    }
                }
            });
            $.ajax({
                url: "/category/list",
                dataType: "json",
                type: "get",
                success: function (result) {
                    if (result.code === 200) {
                        _this.categoryList = result.data;
                    } else {
                        layer.alert("获取失败！");
                    }
                }
            });
        }
    });

    layui.use(['form', 'layer'],
        function () {
            var form = layui.form,
                layer = layui.layer;

            var val = 1;
            form.on('select(selectType)', function (data) {
                val = data.value;

                if (val == 1) {
                    $(".in").show();
                    $(".out").hide();
                    $("[name=address]").removeAttribute("lay-verify");
                } else {
                    $(".out").show();
                    $(".in").hide();
                    $("[name=address]").attr("lay-verify", "required");
                }

            });
            console.info("nihk" + val)

            //监听提交
            form.on('submit(add)',
                function (data) {
                    data.field.userId = sessionUser.id;

                    if (val == 1) {
                        data.field.address = null;
                    } else {
                        data.field.deskId = null;
                    }

                    //发异步，把数据提交给java
                    $.ajax({
                        url: "/order/save",
                        data: JSON.stringify(data.field),
                        dataType: "json",
                        type: "post",
                        contentType: "application/json",
                        success: function (result) {
                            if (result.code === 200) {

                                if (val == 1) {
                                    var desk = {};
                                    desk.id = data.field.deskId;
                                    desk.status = 1;
                                    $.ajax({
                                        url: "desk/update",
                                        data: JSON.stringify(desk),
                                        dataType: "json",
                                        contentType: "application/json",
                                        type: "put",
                                        success: function (result) {
                                            if (result.code === 200) {
                                                layer.msg("增加成功", {icon: 6, time: 500},
                                                    function () {
                                                        //关闭当前frame
                                                        xadmin.close();
                                                        // 可以对父窗口进行刷新
                                                        xadmin.father_reload();
                                                    });
                                            } else {
                                                layer.alert(result.msg);
                                            }
                                        }
                                    });
                                }else{
                                    layer.msg("增加成功", {icon: 6, time: 500},
                                        function () {
                                            //关闭当前frame
                                            xadmin.close();
                                            // 可以对父窗口进行刷新
                                            xadmin.father_reload();
                                        });
                                }
                            } else {
                                layer.alert(result.msg);
                            }
                        }
                    });

                    return false;
                });

        });
</script>
</body>
</html>
