<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dao.ActivityUserDao">
    <select id="findById" resultType="com.model.ActivityUser">
        select a.`id`, a.team_id, t.name as team_name,`activity_id`, s.name as activity_name, u.name as user_name, `user_id`
        from activity_user a
                     left join team t ON t.id = a.team_id
                     left join activity s ON a.activity_id = s.id
                     left join user u on a.user_id = u.id
        where a.id = #{id}
    </select>

    <select id="findByMap" resultType="com.model.ActivityUser">
        select a.`id`, a.team_id, t.name as team_name,`activity_id`, s.name as activity_name, u.name as user_name, `user_id`
        from activity_user a
                     left join team t ON t.id = a.team_id
                     left join activity s ON a.activity_id = s.id
                     left join user u on a.user_id = u.id
        <where>
            <if test="id != null and id != ''">
                and a.id = #{id}
            </if>
            <if test="teamId != null and teamId != ''">
                and a.team_id = #{teamId}
            </if>
            <if test="activityId != null and activityId != ''">
                and activity_id = #{activityId}
            </if>
            <if test="userId != null and userId != ''">
                and user_id = #{userId}
            </if>
        </where>
    </select>

    <select id="list" resultType="com.model.ActivityUser">
        select a.`id`, a.team_id, t.name as team_name,`activity_id`, s.name as activity_name, u.name as user_name, `user_id`
        from activity_user a
                     left join team t ON t.id = a.team_id
                     left join activity s ON a.activity_id = s.id
                     left join user u on a.user_id = u.id
        <where>
            <if test="id != null and id != ''">
                and a.id = #{id}
            </if>
            <if test="teamId != null and teamId != ''">
                and a.team_id = #{teamId}
            </if>
            <if test="activityId != null and activityId != ''">
                and activity_id = #{activityId}
            </if>
            <if test="userId != null and userId != ''">
                and user_id = #{userId}
            </if>
        </where>
    </select>

    <insert id="save" parameterType="com.model.ActivityUser" useGeneratedKeys="true" keyProperty="id">
        insert into activity_user(
        <trim suffixOverrides=",">
            <if test="teamId != null">
                `team_id`,
            </if>
            <if test="activityId != null">
                `activity_id`,
            </if>
            <if test="userId != null">
                `user_id`
            </if>
        </trim>
        )
        values (
        <trim suffixOverrides=",">
            <if test="teamId != null">
                #{teamId},
            </if>
            <if test="activityId != null">
                #{activityId},
            </if>
            <if test="userId != null">
                #{userId}
            </if>
        </trim>
        )
    </insert>

    <update id="update" parameterType="com.model.ActivityUser">
        update activity_user
        <set>
            <if test="teamId != null">
                `team_id` = #{teamId}
                ,
            </if>
            <if test="activityId != null">
                `activity_id` = #{activityId}
                ,
            </if>
            <if test="userId != null">
                `user_id` = #{userId}
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="deleteById">
        delete
        from activity_user
        where id = #{id}
    </delete>
</mapper>