<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dao.AppendDao">
    <select id="findById" resultType="com.model.Append">
        select `id`, `activity_id`, `user_id`, `append_fee`
        from append
        where id = #{id}
    </select>

    <select id="findByMap" resultType="com.model.Append">
        select `id`,`activity_id`,`user_id`,`append_fee` from append
        <where>
            <if test="id != null and id != ''">
                and id = #{id}
            </if>
            <if test="activityId != null and activityId != ''">
                and activity_id = #{activityId}
            </if>
            <if test="userId != null and userId != ''">
                and user_id = #{userId}
            </if>
            <if test="appendFee != null and appendFee != ''">
                and append_fee = #{appendFee}
            </if>
        </where>
    </select>

    <select id="list" resultType="com.model.Append">
        select `id`,`activity_id`,`user_id`,`append_fee` from append
        <where>
            <if test="id != null and id != ''">
                and id =
                #{id}
            </if>
            <if test="activityId != null and activityId != ''">
                and activity_id =
                #{activityId}
            </if>
            <if test="userId != null and userId != ''">
                and user_id =
                #{userId}
            </if>
            <if test="appendFee != null and appendFee != ''">
                and append_fee =
                #{appendFee}
            </if>
        </where>
    </select>

    <insert id="save" parameterType="com.model.Append" useGeneratedKeys="true" keyProperty="id">
        insert into append(
        <trim suffixOverrides=",">
            <if test="activityId != null">
                `activity_id`,
            </if>
            <if test="userId != null">
                `user_id`,
            </if>
            <if test="appendFee != null">
                `append_fee`
            </if>
        </trim>
        )
        values (
        <trim suffixOverrides=",">
            <if test="activityId != null">
                #{activityId},
            </if>
            <if test="userId != null">
                #{userId},
            </if>
            <if test="appendFee != null">
                #{appendFee}
            </if>
        </trim>
        )
    </insert>

    <update id="update" parameterType="com.model.Append">
        update append
        <set>
            <if test="activityId != null">
                `activity_id` = #{activityId}
                ,
            </if>
            <if test="userId != null">
                `user_id` = #{userId}
                ,
            </if>
            <if test="appendFee != null">
                `append_fee` = #{appendFee}
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="deleteById">
        delete
        from append
        where id = #{id}
    </delete>
</mapper>