<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dao.DishDao">

    <select id="findById" resultType="com.model.Dish">
        select a.`id`, `cate_id`, cate_name, `size`, `price`, `quantity`
        from dish a
                 left join category s ON a.cate_id = s.id
        where a.id = #{id}
    </select>

    <select id="findByMap" resultType="com.model.Dish">
        select a.`id`, `cate_id`, cate_name, `size`, `price`, `quantity`
        from dish a
        left join category s ON a.cate_id = s.id
        <where>
            <if test="id != null and id != ''">
                and a.id = #{id}
            </if>
            <if test="cateId != null and cateId != ''">
                and cate_id = #{cateId}
            </if>
            <if test="size != null and size != ''">
                and size = #{size}
            </if>
            <if test="price != null and price != ''">
                and price = #{price}
            </if>
            <if test="quantity != null and quantity != ''">
                and quantity = #{quantity}
            </if>
        </where>
    </select>

    <select id="list" resultType="com.model.Dish">
        select a.`id`, `cate_id`, cate_name, `size`, `price`, `quantity`
        from dish a
        left join category s ON a.cate_id = s.id
        <where>
            <if test="id != null and id != ''">and a.id =
                #{id}
            </if>
            <if test="cateId != null and cateId != ''">and cate_id =
                #{cateId}
            </if>
            <if test="size != null and size != ''">and size =
                #{size}
            </if>
            <if test="price != null and price != ''">and price =
                #{price}
            </if>
            <if test="quantity != null and quantity != ''">and quantity =
                #{quantity}
            </if>
        </where>
    </select>

    <insert id="save" parameterType="com.model.Dish" useGeneratedKeys="true" keyProperty="id">
        insert into dish(
        <trim suffixOverrides=",">
            <if test="cateId != null">`cate_id`,</if>
            <if test="size != null">`size`,</if>
            <if test="price != null">`price`,</if>
            <if test="quantity != null">`quantity`</if>
        </trim>
        )
        values (
        <trim suffixOverrides=",">
            <if test="cateId != null">#{cateId},</if>
            <if test="size != null">#{size},</if>
            <if test="price != null">#{price},</if>
            <if test="quantity != null">#{quantity}</if>
        </trim>
        )
    </insert>

    <update id="update" parameterType="com.model.Dish">
        update dish
        <set>
            <if test="cateId != null">`cate_id` = #{cateId}
                ,
            </if>
            <if test="size != null">`size` = #{size}
                ,
            </if>
            <if test="price != null">`price` = #{price}
                ,
            </if>
            <if test="quantity != null">`quantity` = #{quantity}
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="deleteById">
        delete
        from dish
        where id = #{id}
    </delete>
    <delete id="deleteByCateId">
        delete
        from dish
        where cate_id = #{id}
    </delete>

</mapper>