<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dao.OrderDetailDao">

    <select id="findById" resultType="com.model.OrderDetail">
        select a.`id`,
               `order_id`,
               `cate_id`,
               `size`,
               `num`,
               `price`,
               `amount`,
               c.cate_name
        from order_detail a
                 left join category c ON c.id = a.cate_id
        where a.id = #{id}
    </select>

    <select id="findByMap" resultType="com.model.OrderDetail">
        select a.`id`,
        `order_id`,
        `cate_id`,
        `size`,
        `num`,
        `price`,
        `amount`,
        c.cate_name
        from order_detail a
        left join category c ON c.id = a.cate_id
        <where>
            <if test="id != null and id != ''">
                and a.id = #{id}
            </if>
            <if test="orderId != null and orderId != ''">
                and order_id = #{orderId}
            </if>
            <if test="cateId != null and cateId != ''">
                and cate_id = #{cateId}
            </if>
            <if test="size != null and size != ''">
                and size = #{size}
            </if>
            <if test="num != null and num != ''">
                and num = #{num}
            </if>
            <if test="price != null and price != ''">
                and price = #{price}
            </if>
            <if test="amount != null and amount != ''">
                and amount = #{amount}
            </if>
        </where>
    </select>

    <select id="list" resultType="com.model.OrderDetail">
        select a.`id`,
        `order_id`,
        `cate_id`,
        `size`,
        `num`,
        `price`,
        `amount`,
        c.cate_name
        from order_detail a
        left join category c ON c.id = a.cate_id
        <where>
            <if test="id != null and id != ''">and a.id =
                #{id}
            </if>
            <if test="orderId != null and orderId != ''">and order_id =
                #{orderId}
            </if>
            <if test="cateId != null and cateId != ''">and cate_id =
                #{cateId}
            </if>
            <if test="size != null and size != ''">and size =
                #{size}
            </if>
            <if test="num != null and num != ''">and num =
                #{num}
            </if>
            <if test="price != null and price != ''">and price =
                #{price}
            </if>
            <if test="amount != null and amount != ''">and amount =
                #{amount}
            </if>
        </where>
    </select>

    <insert id="save" parameterType="com.model.OrderDetail">
        insert into order_detail(
        <trim suffixOverrides=",">
            <if test="orderId != null">`order_id`,</if>
            <if test="cateId != null">`cate_id`,</if>
            <if test="size != null">`size`,</if>
            <if test="num != null">`num`,</if>
            <if test="price != null">`price`,</if>
            <if test="amount != null">`amount`</if>
        </trim>
        )
        values (
        <trim suffixOverrides=",">
            <if test="orderId != null">#{orderId},</if>
            <if test="cateId != null">#{cateId},</if>
            <if test="size != null">#{size},</if>
            <if test="num != null">#{num},</if>
            <if test="price != null">#{price},</if>
            <if test="amount != null">#{amount}</if>
        </trim>
        )
    </insert>

    <update id="update" parameterType="com.model.OrderDetail">
        update order_detail
        <set>
            <if test="orderId != null">`order_id` = #{orderId}
                ,
            </if>
            <if test="cateId != null">`cate_id` = #{cateId}
                ,
            </if>
            <if test="size != null">`size` = #{size}
                ,
            </if>
            <if test="num != null">`num` = #{num}
                ,
            </if>
            <if test="price != null">`price` = #{price}
                ,
            </if>
            <if test="amount != null">`amount` = #{amount}
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="deleteById">
        delete
        from order_detail
        where id = #{id}
    </delete>
    <delete id="deleteByOrderId">
        delete
        from order_detail
        where order_id = #{id}
    </delete>

</mapper>